# ─── Server ───────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── Database (local MySQL) ───────────────────────────────────
# Update password to match your MySQL Workbench root password
DATABASE_URL="mysql://root:fortjesus@localhost:3306/hlynk"
# DATABASE_URL =mysql://2CVv3RDi1RogpHb.root:Ed0mmH3nFa31fO0v@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/hlynk?sslaccept=strict

# ─── JWT ──────────────────────────────────────────────────────
JWT_SECRET=hudumalynk_jwt_secret_dev_2025_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=hudumalynk_refresh_secret_dev_2025_change_in_production
JWT_REFRESH_EXPIRES_IN=30d
GOOGLE_CLIENT_ID=484330190793-ko7gev05shqsfv32u84s3obkjvmuc4j2.apps.googleusercontent.com

# ─── Upstash Redis (leave as-is for local dev — auth uses fallback) ─
UPSTASH_REDIS_REST_URL=https://placeholder.upstash.io
UPSTASH_REDIS_REST_TOKEN=placeholder_token

# ─── Qorami SMS (leave blank for dev — SMS will log to console) ─
QORAMI_API_KEY=dev_placeholder
QORAMI_SENDER_ID=HudumaLynk
QORAMI_BASE_URL=https://api.qorami.com

# ─── Resend Email (leave blank for dev) ───────────────────────
RESEND_API_KEY=re_dev_placeholder
RESEND_FROM=noreply@hudumalynk.com

# ─── Cloudflare R2 (leave blank for dev) ──────────────────────
R2_ACCOUNT_ID=dev
R2_ACCESS_KEY_ID=dev
R2_SECRET_ACCESS_KEY=dev
R2_BUCKET_NAME=hudumalynk-uploads
R2_PUBLIC_URL=http://localhost:3000/uploads

# ─── App ──────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173
OTP_EXPIRES_MINUTES=10


# ─── Admin ────────────────────────────────────────────────────
ADMIN_EMAIL=admin@hlynk.com
ADMIN_PHONE=+254790590653
ADMIN_PASSWORD=fortjesus-G2

# ─── M-Pesa (Daraja) ─────────────────────────────────────────
# Environment: sandbox or production
MPESA_ENV=sandbox
# Public URL for callbacks (REQUIRED for live/ngrok)
BACKEND_URL=http://localhost:3000
# BACKEND_URL= https://hlynkbe.onrender.com
MPESA_CONSUMER_KEY=y8USSbjoDl4SQl2js5QgRYvhl8DnMKknnGZjuOsfjFKhrQgo
MPESA_CONSUMER_SECRET=SGS5Kr70RClftQTVkqOnBtucphwpNojJrFwdafEt2ggp4U7rW2IUsFIAwZaAOzAD
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919

# ENCRYPTION_KEY="y8R$Fk#2mP9vL5qJ@7nC4wX1hT6bN3eA"
ENCRYPTION_KEY=1e45189001d31d2a22b58dcc6c4fa6dc
